---
layout: home-page
title: About
permalink: /about/
---
<!--
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% else %}
        <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.facebook %}
        <li class="facebook"><a href="https://facebook.com/{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
      {% else %}
        <li class="facebook"><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
      {% else %}
        <li class="instagram"><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.pinterest %}
        <li class="pinterest"><a href="https://pinterest.com/{{site.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
      {% else %}
        <li class="pinterest"><a href="https://pinterest.com/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
-->
<div class="small-wrapper">
Computer Systems Specialist / Legislative Analyst, City & County of Honolulu, 530 S King St, Honolulu, HI, Jan 2018 – Present
<br>
Build and customize legislation tracking software as part of a Paperless Pilot Project. Other duties include working to interface software programs and devices with external applications and databases, providing necessary training and troubleshooting, coordinating the technology program (procuring, deploying, and maintaining computer equipment and software), and updating the website for the Legislative Branch.
<br>
Created a Perl program to automate the download and organization of legislative documents from the City & County database to be uploaded into an external application for regularly held Commitee/Council meetings.  Currently downloaded and organized 2000 Commitee/Council meeting documents.
<br>
Worked on a VBA application for the City Clerk to speed up the processing of Excel and Access documents.
<br>
<br>

Computer Science Student, University of Hawaii: Manoa, 2500 Campus Rd, Honolulu, HI, Jan 2015 – Dec 2017
<br>
Develop applications in a variety of programming languages. Design, implement, and evaluate a computer-based system, process, component, or program to meet desired needs.  Assisting in the creation of effective project plans.
<br>
Worked on a campus wide web application for UH Manoa students to search for current graduate/undergraduate projects to collaborate with.  Application utilized JavaScript, Meteor, and MongoDB.
<br>
Lead programmer for a C# videogame that was given in-class awards for "Best Technical Achievement" and "Best Game".
<br>
<br>

Information Systems Technology Specialist, United States Navy, Pearl Harbor, HI, Apr 2012 – Feb 2015
<br>
Maintain and troubleshoot computer systems/network.  Conduct computer diagnostics to determine nature of problems.  Evaluate computer system user request and requirements.  Follow data security procedures.  Install security measures.  Maintain or repair computers and related equipment.  Monitor the use of computer data files to safeguard information.
<br>
Responsible for managing, monitoring and troubleshooting software and hardware consisting of Cisco and Juniper routers/switches, Windows 2003 servers, fiber/copper connectivity, Redhat workstations, and miscellaneous network equipment.
<br>
Performed fault isolation, diagnostic, and assessment functions to include determination and execution of corrective action(s) on real-time basis.
Provided technical support to over 300 computer users.
<br>
Successfully moved and set up the computer system/network from the ship to an adjacent facility and then moved and set up the system back in the ship.
<br>
<br>

Information Systems Technology Specialist, United States Navy, Andrews Air Force Base, MD, May 2010 – Mar 2012
<br>
Provide technical support for both hardware and software issues computer-systems users encounter.
<br>
Served as an IT Specialist for the Naval Communications Security Material System and provided IT support for the Electronic Key Management System’s department. 
<br>
Performed various system administration duties as well as planned and carried out policies relating to personnel activity.
<br>
Provided technical administrative support to HR staff for Microsoft Products (MS Word, PowerPoint, Excel, etc.).
<br>
Presented weekly update reports to the Officer in Charge in regards to account and systems updates.
<br>
<br>

EDUCATION 
<br>
B.A. (DEC) 2017; (3.8 GPA) University of Hawaii – Manoa; Information and Computer Science
<br>
Minor (DEC) 2017; University of Hawaii – Manoa; Fine Art (Painting)
</div>
